.element__remove{
    background-image: url(../../../../assets/images/remove.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    border: 0px;
}

.element__remove:hover {
    cursor: pointer;
    opacity: 0.5;
}