.profile__avatar-button {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
    object-position: center center;
    border: none;
}

.profile__avatar-button:hover {
    background-image: url("../../../../assets/images/edit_avatar.svg");
    background-repeat: no-repeat;
    background-size: 26px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    background-position: center;
    opacity: 0.8;
    transition: opacity 3s ease-in-out;
}

@media screen and (max-width: 767px) {
    .profile__avatar-button {
        top: 127px;
    }
}