.profile {
    padding: 0 200px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 880px;
    margin: 40px auto 0;
}

@media screen and (max-width: 1279px) {
    .profile {
        padding: 0;
    }
}

@media screen and (max-width: 900px) {
    .profile {
        padding: 0 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        margin: 42px auto 0;
    }
}