.header__logo {
    width: 142px;
    height: 33px;
    left: 0;
    top: 0;
    margin: 0;
    padding-bottom: 41px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        padding: 0 27px 31.6px;
    }
}

.header__logo:hover {
    content: url('../../../images/Vectorblack.svg');
}