.footer__copyright {
    color: #545454;
    max-width: 880px;
    margin: 0 auto;
    padding: 67px 200px 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}

@media screen and (max-width: 1279px) {
    .footer__copyright {
        padding: 67px 27px 60px;
    }    
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
        padding: 48px 19px 36px;
    }    
}