.profile__description{
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 336px;
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        text-align: center;
        padding-bottom: 36px;
    }    
}